* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-family: Arial, Helvetica;
}

body {
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	color: #343434;
}

a {
	color: #486398;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
textarea {
	outline: 1px solid #ccc;
	border: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	outline: 2px solid #7a8bac;
	border: none;
}

input[type="submit"],
input[type="button"] {
	border: 2px solid #456196;
	background-color: #7a8bac;
	color: #fff;
}

#login-form {
	width: 150px;
	height: 110px;
	margin: auto;
	position: relative;
	top: 25%;
	padding: 20px;
	border: 1px solid #ccc;
}

#login-form table {
	width: 100%;
	text-align: center;
}

#login-form table input[type="submit"] {
	margin-top:5px;
	width: 100%;
}

#wrapper {
	width: 100%;
	position: relative;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #768093;
	position: relative;
	border-bottom: 1px solid #333;
}

#menu {
	width: 100%;
	height: 50px;
	background-color: #768093;
	position: relative;
}

#menu ul {
	list-style:none;
	height: 50px;
	position: relative;
	width: 100%;
}

#menu ul li {
	float: left;
	font-size: 20px;
	color: #fff;
	padding: 0 15px;
	margin-top: 14px;
}

#menu ul li a {
	color: #fff;
}

#menu ul li a:hover {
	text-decoration: underline;
}

#menu ul li.login_menu_item {
	float: right;
}

#content {
	padding: 5px 10px;
}

#rates{
    position: absolute;
    height:800px;
    width: 960px;

}

#ratewarning{
    margin-bottom: 25px;
    height:40px;
    width:525px;
}

#ratetable{
    width:750px;
    border-color: #7a8bac;
    border-right-style: inset;
    border-left-style: inset;
    border-bottom-style: inset;
    border-top-style: inset;
    border-right-width: 3px;
    border-left-width: 3px;
    border-bottom-width: 3px;
    border-top-width: 3px;
}
.ratetablecollumn{
    padding-right: 25px;
}

.thrate{
    color: #7a8bac;
    padding-right: 25px;
    border-bottom: #7a8bac solid thin;
}

.message_error {
	background-color: #e36767;
	border:1px solid red;
	margin-bottom:5px;
}

.message_success {
	background-color: #4e9a3e;
	border:1px solid green;
	margin-bottom:5px;
}

.message_error p,
.message_success p {
	color: #fff;
	padding: 5px;
	
}

.downloads table
{
    height:80%;
}

table {
	width: 100%;
	border: 1px solid #7a8bac;
}

table tr th {
	color: #7a8bac;
    border-bottom: #7a8bac solid thin;
}

table tr th,
table tr td {
	padding: 2px 0;
}