* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-family: Arial, Helvetica;
	font-size: 14px;
}

body {
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	color: #343434;
}

a {
	color: #486398;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
textarea {
	outline: 1px solid #ccc;
	border: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	outline: 2px solid #7a8bac;
	border: none;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

input[type="submit"],
input[type="button"] {
	border: 2px solid #456196;
	background-color: #7a8bac;
	color: #fff;
	margin: 0 0 5px;
}

table {
	width: 100%;
	border: 1px solid #7a8bac;
	border-collapse: collapse;
}

table tr th {
	color: #7a8bac;
    border-bottom: #7a8bac solid 1px;
}

table tr th,
table tr td {
	padding: 2px 0;
	text-align: left;
}

table tr th.center,
table tr td.center {
	text-align: center;
}

table tr:nth-child(even) {
	background: #fff;
}

table.hover tr:hover > td {
	background-color: #fae8cb;
}

table.simple-table {
	border-collapse: separate;
	border: none;
}

table.simple-table tr:nth-child(even) {
	background: transparent;
}

#login-form {
	width: 150px;
	height: 130px;
	margin: auto;
	position: relative;
	top: 25%;
	padding: 20px;
	border: 1px solid #ccc;
}

#login-form table {
	width: 100%;
	text-align: center;
	border: none;
	border-collapse: separate;
}

#login-form table input[type="submit"] {
	margin-top:5px;
	width: 100%;
}

#wrapper {
	width: 100%;
	position: relative;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #768093;
	position: relative;
	border-bottom: 1px solid #333;
}

#menu {
	width: 100%;
	height: 50px;
	background-color: #768093;
	position: relative;
}

#menu ul {
	list-style:none;
	height: 50px;
	position: relative;
	width: 100%;
}

#menu ul li {
	float: left;
	font-size: 20px;
	color: #fff;
	padding: 0 15px;
	margin-top: 14px;
}

#menu ul li a {
	color: #fff;
}

#menu ul li a:hover {
	text-decoration: underline;
}

#menu ul li.login_menu_item {
	float: right;
}

#content {
	padding: 5px 10px;
}

#ratewarning{
    margin-bottom: 25px;
    height:40px;
    width:525px;
}

.message_error {
	background-color: #e36767;
	border:1px solid red;
	margin-bottom:5px;
}

.message_success {
	background-color: #4e9a3e;
	border:1px solid green;
	margin-bottom:5px;
}

.message_error p,
.message_success p {
	color: #fff;
	padding: 5px;
	
}

#downloads{
    height: 510px;
}

#head{
    height:15px;
}

#row{
    height:15px;
}


.agenda {
	height: 93.5%;
	position: relative;
}

.agenda table {
	border: none;
}

.agenda table tr:nth-child(even) {
	background-color: #f5f5f5;
}

.agenda #ag-page {
	position: relative;
	height: 90%;
}

.agenda #ag-container {
	bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 25px;
    width: 100%;
}

.agenda table.ag-grid {
	height: 100%;
	border-right: 1px solid #7a8bac;
}

.agenda .ag-month-row {
	left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.agenda #ag-days {
    table-layout: fixed;
    width: 100%;
}

.agenda #ag-days tr td {
	font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
}

.agenda .ag-day {
    line-height: 16px;
    overflow: hidden;
    /*padding: 4px 9px 0;*/
	width: 10%;
	vertical-align: top;
	border-bottom: 1px solid #7A8BAC;
    border-left: 1px solid #7A8BAC;
}

.agenda .day-today {
	background: none repeat scroll 0 0 #dfeff3;
}

.agenda #ag-days tr th.ag-day {
	border-left: none;
    padding: 4px 9px;
}

.agenda #agenda_month {
	height: 100%;
}

.agenda .ag-non-month .ag-day-row span {
	color: #777;
}

.agenda .ag-day-row {
	clear:both;
	padding: 2px 9px;
}

.agenda .ag-day-appointment {
	background-color: #CAD6EC;
    border: 1px solid #768093;
    margin: 0 2px 2px;
}

.agenda .ag-non-month .ag-day-appointment {
	background-color: #d9e4f9;
    border: 1px solid #95a1b8;
}

.bewerkagendapunt table {
	width: 600px;
}

.bewerkagendapunt table #start-time,
.bewerkagendapunt table #end-time {
	width: 70px;
}

.bewerkagendapunt table #start-date,
.bewerkagendapunt table #end-date {
	width: 80px;
}

.bewerkagendapunt #start-time-list {
	border: 1px solid #95a1b8;
    height: 112px;
    overflow: auto;
    text-align: center;
    width: 70px;
	display: none;
	background: none repeat scroll 0 0 #FFFFFF;
	position: absolute;
}

.bewerkagendapunt #start-time-list div {
	cursor: pointer;
}

.bewerkagendapunt #start-time-list div:hover {
	background-color: #CAD6EC;
}

#bubble-main,
#bubble-edit-appointment {
	display: none;
	width: 350px;
	height: 150px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bubble-content {
	padding: 20px;
	height: 120px;
	width: 310px;
}

.bubble-content .appointment-options {
    border-top: 1px solid #7A8BAC;
    bottom: 10px;
    padding-top: 10px;
    position: absolute;
    width: 310px;
}

.agenda .bubble-content table tr:nth-child(even) {
	background-color: #fff;
}

.right {
	float: right;
}

.left {
	float: left;
}

.bottom-prong {
	left: 48%;
    bottom: -9px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    width: 18px;
}

.prong-dk, .prong-lt {
    left: 0;
    position: absolute;
    top: 0;
}

.bottom-prong .prong-dk, .bottom-prong .prong-lt {
    border-bottom-width: 0;
}

.prong-dk {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC transparent;
    border-image: none;
    border-style: solid;
    border-width: 9px;
}

.bottom-prong .prong-dk, .bottom-prong .prong-lt {
    border-bottom-width: 0;
}

.prong-lt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF transparent;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    left: 1px;
}


















