* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-family: Arial, Helvetica;
    color: #343434;
}

img {
    border: none;
}

textarea {
    resize: none;
}

input[type="text"],
input[type="password"],
textarea {
    outline: 1px solid #ccc;
    border: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: 2px solid #7a8bac;
    border: none;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;	
}

a {
    color: #486398;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border: 1px solid #7a8bac;
}

table tr th {
    color: #7a8bac;
    border-bottom: #7a8bac solid thin;
}

table tr th,
table tr td {
    padding: 2px 0;
}

table textarea {
    width: 100%;
    height: 200px;
}

table input[type="text"] {
    width: 200px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;

    border-top: none;
    position: relative;

    -webkit-box-shadow: 0px 0px 5px #333;
    -moz-box-shadow:    0px 0px 5px #333;
    box-shadow:         0px 0px 5px #333;
}

#header {
    width: 100%;
    height: 200px;
    position: relative;
}

#header-image {
    width: 100%;
    height: 150px;
    position: relative;
}

#menu {
    width: 100%;
    height: 50px;
    background-color: #768093;
    position: relative;
}

#menu ul {
    list-style:none;
}

#menu ul li {
    float: left;
    font-size: 20px;
    color: #fff;
    padding: 0 15px;
    margin-top: 14px;
    height: 36px;
}

#menu ul li a {
    color: #fff;
}

#menu ul li a:hover {
    text-decoration: underline;
}

#menu ul li ul.sub-menu,
#menu ul li ul.sub-menu li ul {
    display: none;
}

#menu ul li span {
    cursor: pointer;
}

#menu ul li ul.sub-menu {
    position: absolute;
    z-index: 10000;
    background-color: #768093;
    width: 170px;
    border-top:5px solid #fff;
    top: 50px;
}

#menu ul li ul.sub-menu li {
    float: none;
    padding: 5px 10px 5px;
    margin: 0;
    height: 25px;
    border-bottom: 1px solid #ccc;
}

#menu ul li ul.sub-menu li ul {
    display: none;
    position: relative;
    background-color: #768093;
    z-index: 10000;
    left: 160px;
    width: 200px;
    border-left: 5px solid #fff;
    top: -28px;
}

#content {
    min-height: 215px;
    position: relative;
    margin: 20px;
    width: 95.8%;
    float: left;
}

#left-content {
    width: 650px;
    float: left;
    border: 1px solid #ccc;
    min-height: 200px;
    position: relative;
    padding: 10px 10px 0 10px;
}

#right-content {
    width: 220px;
    height: 100px;
    float: right;
    border: 1px solid #ccc;
    min-height: 200px;
    position: relative;
}

#search-form {
    padding: 5px;
    position: relative;
    width: 95.5%;
}

#search-form input[type="text"] {
    width: 100%;
    padding-right: 20px;
}

#search-form input[type="image"] {
    position: absolute;
    right: 7px;
    top: 7px;
}

#footer {
    height: 50px;
    width: 100%;
    position: relative;
    background-color: #768093;
    border-top: 2px solid #57585a;
    clear: both;
}

#ratewarning{
    margin-bottom: 25px;
    height:40px;
    width:525px;
}

.ratetablecollumn{
    padding-right: 25px;
}

.message_error {
    background-color: #e36767;
    border:1px solid red;
}

.message_success {
    background-color: #4e9a3e;
    border:1px solid green;
}

.message_error p,
.message_success p {
    color: #fff;
    padding: 5px;
}

.contact table {
    border: 0px;
}

#rateth{
    color: #7a8bac;
    padding-right: 25px;
    border-bottom: #7a8bac solid thin;
}

.zoekresultaat{
    padding: 5px;
    border-bottom: 1px solid #333;
    margin-bottom: 7px;
}

.zoekresultaat a{
    margin-left: 30px;   
}

.artikel {
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.artikel #title {
    padding-bottom: 3px;
}

.artikel #dates {
    text-decoration: underline;
}

.artikel #text {

}

#downloads{
    height: 300px;
}

#head{
    height:15px;
}

#row{
    height:15px;
}

.diensten {
    width: auto;
}

.diensten table{
    border: none;
}

.cell {
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
    background: #7a8bac;
    opacity: 80%;
    color: #F5F5F5;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.downloads .table {
    height:40%;
}

#Archives{
    margin-left:25px;    
}

#Archivetitle{
    text-decoration-line: underline;
    text-decoration-color: #768093;
}

#Archive{
    margin-left: 10px;  
}

#archiveyear{
    margin-left: 5px;
    padding: 5px;
}

#archivemonth{
    margin-left: 5px;
    list-style: none;
    padding: 5px;
    border: #7a8bac thin solid;
}

#home-upper{
    height: 300px;

}	

#home-about{
    width: 420px;

    float: left;
    margin-left: 5px;
}	

#home-links{

    width: 150px;
    float: right;
    padding-left: 20px;
}

#home-news{

}

#home-article{
    margin: 10px;
    margin-bottom: 20px;
    border: #7a8bac inset medium;
    border-radius:10px;
    -moz-border-radius:10px; /* Old Firefox */
    padding: 15px;
}

.pagination {
    text-align: right;
    height: 1px;

}

.page {
    border-color: #768093 transparent;
    border-style: solid;
    border-width: 8px;
    text-align: left;
    overflow: auto;
}

#dalink{
    border: 2px solid;
    border-radius:10px;
    -moz-border-radius:10px; /* Old Firefox */
    background: #7a8bac;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#dalink>a {
    color: #F5F5F5;
}